<style>
  @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');
</style>
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Titillium Web', sans-serif;
	background-color: #181D31;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

form {
	background-color: #24253C;
	display: flex;
	flex-direction: column;
	padding: 50px;
	width: 420px;
	text-align: center;
	margin: 30px;
	border-radius: 20px;
	transition: 2s;
}

form:hover {
	box-shadow: 0 0 60px rgba(199, 0, 57, 0.7);
	transition-delay: 0.2s;
}


form h2 {
	font-size: 43px;
	color: #EDF0F0;
	margin-bottom: 35px;
	transition: 1s;
}

form h2:hover {
	color: #C70039;
	transition-delay:0.2s ;
}

input {
	padding: 17px;
	border-radius: 25px;
	background-color: transparent;
	border: 2px solid #C70039;
	margin-bottom: 30px;
	color: #ffffff;
	outline:none ;
	outline-color: purple;
	font-size: 18px;
	transition: 2s;
	font-family: 'Titillium Web', sans-serif;
}

a {
	padding: 17px;
	border-radius: 25px;
	background-color: transparent;
	border: 2px solid #C70039;
	margin-bottom: 30px;
	color: #ffffff;
	outline:none ;
	outline-color: purple;
	font-size: 18px;
	transition: 2s;
	font-family: 'Titillium Web', sans-serif;
	cursor: pointer;
 	transition: 0.2s;
 	overflow: hidden;
 	text-decoration: none;
}

a:hover {
	background: #C70039;
 	box-shadow: 0 0 10px #C70039, 0 0 40px #C70039, 0 0 80px #C70039;
 	transition-delay: 0.1s;
 	border: transparent;
}


 ::placeholder {
 	color: #898798;
 }

 .btn {
 	cursor: pointer;
 	transition: 0.2s;
 	overflow: hidden;
 }

 .btn:hover {
 	background: #C70039;
 	box-shadow: 0 0 10px #C70039, 0 0 40px #C70039, 0 0 80px #C70039;
 	transition-delay: 0.1s;
 	border: transparent;
 }



 @media (max-width:991px) {

 	body {
 		padding: 30px;
 	}

 	form {
 		width: 340px;
 	}
 }